{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <select class="genre"> 
    <option>장르를 선택하시오</option>
    {% for genre in genres %}
    <option value="{{ genre.name }}" data-genre-id="{{ genre.pk }}" class='test'> {{ genre.name }}</option>
    {% endfor %} 
  </select>

  <ul id="movies-list">
    {% for movie in movies %}
      <li> {{ movie.title }}</li>
    {% endfor %}
  </ul>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
const genre = document.querySelector('.genre')
const moviesList = document.querySelector('#movies-list')
genre.addEventListener("change", function(event) {
  const selectedValue = event.target.value
  console.log(selectedValue)
  axios({
    method: 'post',
    url: '/movies/filter-genre/',
    headers: {'X-CSRFToken': csrftoken},
    data: {
      genre: selectedValue,
    }
  })
  .then((response) => {
    console.log(response.data.movies)
    updateMovieList(response.data.movies)
  })
  .catch((error) => {
    console.log(error)
  })
})
function updateMovieList(movies) {
  // 기존 영화 목록을 비우기
  moviesList.innerHTML = ''

  // 새 영화 목록을 추가하기
  movies.forEach((movie) => {
    const li = document.createElement('li')
    li.textContent = movie.title // 영화 제목을 추가
    moviesList.appendChild(li)
  })
}
</script>
{% endblock %}